@tailwind base;
@tailwind components;
@tailwind utilities;

/* small admin overrides */
:root {
  --sidebar-bg: rgba(15, 23, 42, 0.95); /* slate-900 translucent */
  --content-bg: #f3f4f6; /* gray-100 */
}
